3_1/checkpoints/checkpoint_epoch_3.pth
3_1/checkpoints/checkpoint_epoch_4.pth
3_1/checkpoints/checkpoint_epoch_5.pth
3_1/checkpoints/checkpoint_epoch_7.pth
3_1/checkpoints/.DS_Store
3_1/checkpoints/best_model.pth
